.testimonial{
    width:100%;
    padding: 30px 50px;
    display: flex;
    gap: 30px;

}
.testimonial-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}
.testimony{
    font-size: 1.2rem;
    width: 80%;
}
.testifier{
    color: #000;
    font-size: 1.25rem;
    font-weight: 500;
}
.post{
    font-size: 1.1rem;
    font-weight: bold;
}
.testimonial-text h3{
    font-size: 3rem;
    color: #4E5AC3;
}

@media screen and (max-width:740px) {
    .testimonial{
        padding: 10px 30px;
    }
    .ceo-img{
        width: 150px;
        height: 150px;
    }
    .testimonial-text{
        gap: 5px;
    }
    .testimonial-text h3{
        font-size: 1rem;
    }
    .testimony{
        width: 100%;
        font-size: 0.7rem;
    }
    .testifier{
        font-size: 0.8rem;
        margin: 0;
    }
   .post{
    font-size: 0.7rem;
   }
   .star{
    margin: 0;
   }
   .down{
    display: flex;
    flex-direction: column;

   }
    
}